<app-icons></app-icons>
<div class="header pt-5 pt-md-8">

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-white shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-3">
              <h6 class="text-uppercase ls-1 mb-1">Overview</h6>
              <h2 class="mb-0">Currency value</h2>
            </div>

            <div class="col-md-3">
              <mat-form-field style="width: 100%">
                <mat-select placeholder="Primary Currency" [(ngModel)]="primaryCurrencyGraph" name="Currency">
                  <mat-option *ngFor="let currency of currencies" [value]="currency"
                    [disabled]="secondaryCurrencyGraph === currency">
                    {{currency}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field style="width: 100%">
                <mat-select placeholder="Secondary Currency" [(ngModel)]="secondaryCurrencyGraph" name="Currency">
                  <mat-option *ngFor="let currency of currencies" [value]="currency"
                    [disabled]="primaryCurrencyGraph === currency">
                    {{currency}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3 ">
              <mat-form-field style="width: 100%">
                <mat-select class="mat-select-red" placeholder="Vendors" [(ngModel)]="vendorValue" name="vendors">
                  <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor}}</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="chart" style="height: 100%;">

            <canvas as vas baseChart [labels]="lineChartLabels" [datasets]="lineChartData" [colors]="lineChartColors"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow" style="height: 100%;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Overview</h6>
              <h2 class="mb-0">Transactions</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
           <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
